<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TechMeetups</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/icomoon.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
        <link rel="alternate" type="application/rss+xml" href="/montpellier.rss" title="Flux RSS des meetups de Montpellier">
        <link rel="alternate" type="application/atom+xml" href="/montpellier.atom" title="Flux Atom des meetups de Montpellier">
    </head>
	<body class="landing">

		<a href="https://github.com/jeremyb/techmeetups">
			<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
		</a>

		<div id="page-wrapper">

			<section id="banner">
				<h2>TechMeetups</h2>
				<p>L'agenda des meetups du numérique à Montpellier.</p>
				<ul class="actions">
					<li>
                        <a href="#cta" class="button special">
                            S'abonner à la newsletter
                        </a>
                    </li>
                    <li>
                        <a href="#footer" class="button">
                            A propos
                        </a>
                    </li>
				</ul>
			</section>

			<section id="main" class="container">
                <section class="box">
                    {% block main %}{% endblock %}
                </section>
			</section>

			<section id="cta">
				<h2>S'abonner à la newsletter</h2>
				<p>
                    Pour ne plus rater les prochains meetups de Montpellier,
                    inscrivez-vous à la newsletter :
                </p>
				<form>
					<div class="row uniform 50%">
						<div class="8u 12u(mobilep)">
							<input type="email" name="email" id="email" placeholder="Email" />
						</div>
						<div class="4u 12u(mobilep)">
							<input type="submit" value="Je m'inscris !" />
						</div>
					</div>
				</form>
			</section>

			<footer id="footer">
                <h3>A propos</h3>
                <p>
                    La majorité des événements affichés proviennent de la
                    plateforme <a href="https://www.meetup.com">meetup.com</a>.
                </p>
				<ul class="icons">
                    <li>
                        <a href="{{ url('feed_mtp', { _format: 'rss' }) }}" target="_blank">
                            <span class="icon-rss_feed"></span> RSS
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('feed_mtp', { _format: 'atom' }) }}" target="_blank">
                            <span class="icon-rss_feed"></span> Atom
                        </a>
                    </li>
                    <li>
                        <a href="webcal://{{ app.request.httpHost }}/{{ path('ical_mtp') }}">
                            <span class="icon-date_range"></span> iCal
                        </a>
                    </li>
				</ul>
				<ul class="copyright">
					<li>
                        Design :
                        <a href="http://html5up.net" target="_blank">HTML5 UP</a>
                    </li>
				</ul>
			</footer>

		</div>

	</body>
</html>
